<template>
	<v-row justify="center">
		<v-dialog v-model="dialog" persistent >
			<v-card >
				<v-card-title class="headline">Registrar nueva zona</v-card-title>
			<v-card-text v-if="noSectors">
								<v-container>
					<v-row>
						<v-col cols="12" sm="12" md="12">
							<v-select
          v-model="select"
          :items="sectors"
          item-text="name"
          item-value="id"
          label="Sectores"
          persistent-hint
          return-object
          single-line
        ></v-select>
								<v-text-field v-model="name" label="Nombre de la nueva zona*" required v-if="!is_macrosector"></v-text-field>
			<v-alert border="bottom" colored-border type="warning" elevation="2" v-else>
				Este es un macrosector por lo que no puede tener zonas registradas
			</v-alert>
						</v-col>
					</v-row>
								</v-container>
								<small>*Indica los campos requeridos</small>
			</v-card-text>
			<v-alert border="bottom" colored-border type="warning" elevation="2" v-else>
				No hay sectores creados, por favor primero crea un sector
			</v-alert>

			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="green darken-1" text @click="cancel">Cancelar</v-btn>
				<v-btn color="green darken-1" :disabled="!noSectors || is_macrosector || name == '' " text @click="addSector">Guardar</v-btn>
			</v-card-actions>
			</v-card>
		</v-dialog>
	</v-row>
</template>


<script>
import axios from 'axios';
import Swal from 'sweetalert2';
export default {
	props: {
		dialog: Boolean,
		sectors: Array,
		user: Object,
	},
	data () {
		return {
			select: {
				is_macrosector: true,
			},
			name: '',
		}
	},
	computed: {
		noSectors() {
			var band = this.sectors.length > 0;

			return 	band;
		},
		is_macrosector(){
			console.log(this.select.is_macrosector)
			return Boolean(this.select.is_macrosector);
		}
	},
	methods: {
		cancel() {
			this.$emit('closeDialog', 'zone')
		},

		addSector(){
			const url = 'api/zonas/crear';
			axios.post(url, {name: this.name, sector_id: this.select.id, api_token: this.user.api_token})
				.then((response) => {
					console.log(response.data);
					if(response.data.status != 'error'){
						this.name = '';
						this.$emit('updateData', 'zonas', response.data.zone);
						this.$emit('closeDialog', 'zone')

					}
					Swal.fire(
						response.data.desc,
						'',
						response.data.status
					);



				});
			console.log('haciendo peticion');
		}
	}
}
</script>
