<template>
	<v-row justify="center">
		<v-dialog v-model="dialog" persistent >
			<v-card>
				<v-card-title class="headline">Registrar nuevo sector</v-card-title>
			<v-card-text>
				<v-container>
					<v-row>
						<v-col cols="12" sm="12" md="12">
							<v-text-field v-model="name" label="Nombre del nuevo sector*" required></v-text-field>
							<v-checkbox
      v-model="is_macrosector"
      :label="`Es Macrosector: ${esp_macrosector}`"
    ></v-checkbox>
						</v-col>
					</v-row>
				</v-container>
				<small>*Indica los campos requeridos</small>
			</v-card-text>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="green darken-1" text @click="cancel">Cancelar</v-btn>
				<v-btn color="green darken-1" text @click="addSector">Guardar</v-btn>
			</v-card-actions>
			</v-card>
		</v-dialog>
	</v-row>
</template>


<script>
import axios from 'axios';
import Swal from 'sweetalert2';

export default {
	props: {
		dialog: Boolean,
		user: Object,
	},
	data () {
		return {
			name: '',
			is_macrosector: false,
		}
	},
	computed: {
		esp_macrosector(){
			return this.is_macrosector ? 'si' : 'no';
		},
	},
	methods: {
		cancel() {
			this.$emit('closeDialog', 'sector')
		},

			addSector(){
				const url = 'api/sectores/crear';
				axios.post(url, {name: this.name, is_macrosector: this.is_macrosector, api_token: this.user.api_token})
					.then((response) => {
						console.log(response.data);
						if(response.data.status != 'error'){
							this.name = '';
							this.$emit('updateData', 'sectores', response.data.sector);
							this.$emit('closeDialog', 'sector')

						}
						Swal.fire(
							response.data.desc,
							'',
							response.data.status
						);

					});
				console.log('haciendo peticion');
			}
	}
}
</script>
