<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>Registrar Sectores</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-email</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>Registar Zonas </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
<v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-email</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>Registar Colonias </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="blue"
	  dark
    >

      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Tandeos Xalapa</v-toolbar-title>
	  <v-spacer></v-spacer>
	  <v-btn-toggle
          shaped
          mandatory
        >
		<v-btn color="blue darken-4" @click="sector = true">
            <v-icon>mdi-plus</v-icon>
				Sector
          </v-btn>

          <v-btn color="blue darken-4" @click="zone = true">
            <v-icon>mdi-plus</v-icon>
		  	Zona
          </v-btn>

          
          
          <v-btn color="blue darken-4" @click="colony = true">
            <v-icon >mdi-plus</v-icon>
				Colonia
          </v-btn>
        </v-btn-toggle>
		<v-spacer></v-spacer>

	   <v-btn v-if="!not_user" rounded color="grey" dark @click="logout">Cerrar sessión</v-btn>

    </v-app-bar>

    <v-content v-if="!not_user">
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col class="text-center">
			  <registro-evento :user="user" :colonies="colonias" :sectores="sectores"/>
                      </v-col>
        </v-row>
		  <create-sector :user="user" @updateData="updateData"  @closeDialog="closeDialog" :dialog="sector"/>
			<create-zone  :user="user" @updateData="updateData" @closeDialog="closeDialog" :sectors="sectores" :dialog="zone"/>
			<create-colony :user="user" @updateData="updateData" @closeDialog="closeDialog" :sectors="sectores" :zones="zonas" :dialog="colony"/>


      </v-container>
	      </v-content>

<v-content v-else>
		  <v-row align="center" justify="center">
			  <auth-component :dialog="active_auth" :type="type_auth" v-show="active_auth"></auth-component>
		  </v-row>
	  </v-content>

    <v-footer
      color="blue"
      app
    >
      <v-spacer></v-spacer>

      <span class="white--text">&copy; XalapaCode 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
import RegistroEvento from './RegistroEventoComponent.vue';
import AuthComponent from './AuthComponent.vue';
import CreateSector from './CreateSectorComponent.vue';
import CreateZone from './CreateZoneComponent.vue';
import CreateColony from './CreateColonyComponent.vue';
export default {
	name: 'LayoutsDemosBaselineFlipped',
	components: {
		RegistroEvento,
		AuthComponent,
		CreateSector,
		CreateZone,
		CreateColony
	},
	props: {
		source: String,
	},
	data: () => ({
		sector: false,
		zone: false,
		colony: false,
		drawer: null,
		user: {},
		not_user: false,
		active_auth: true,
		type_auth: 'login',
		toggle_none: null,
		sectores: [],
		colonias: [],
		zonas: [],
	}),
	methods: {
		updateData(type, obj){
			console.log(type);
			this[type].push(obj);
		},
		closeDialog(type){
			console.log(type)
			this[type] = false;
		},
		getSectors() {
			const url = 'api/sectores';

			axios.get(url)
				.then((response) => {
					console.log
					this.sectores = response.data;
				});
		},
		getZones() {
			const url = 'api/zonas';

			axios.get(url)
				.then((response) => {
					console.log
					this.zonas = response.data;
				});
		},
		getColonies() {
			const url = 'api/colonias';

			axios.get(url)
				.then((response) => {
					console.log
					this.colonias = response.data;
				});
		},

		logout(){
			console.log('logout');
			let urlData = 'api/logout';
			axios.post(urlData, {api_token: this.user.api_token}).then((response) => {
				console.log(response);
				if(response.data.status != 'error'){
					localStorage.clear();
					let url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/';
					console.log(url);
					window.location.href = url;
				}
			});
		},
	},
	mounted() {
		let userSaved = JSON.parse(localStorage.getItem('user'));
		console.log(userSaved);
		if ( userSaved != null ){
			console.log('si hay usuario')
			this.user = userSaved
			this.getSectors();
			this.getZones();
			this.getColonies();

		}
		else {
			this.not_user = true;
			console.log('No hay usuario');
		}
	},
}
</script>

