<template>
  <v-row>
	  <!--<pre>
		 {{zonesFiltered}}
	  </pre>-->
	  <v-col cols="12" sm="4">
		  <v-select
          v-model="sector"
          :items="sectores"
          item-text="name"
          item-value="id"
          label="Sector"
          persistent-hint
          return-object
          single-line
		  @change="  getZones(sector); getEvents(); "
        ></v-select>
		<v-select
		  :disabled="Boolean(sector.is_macrosector)"
          v-model="zona"
          :items="zonas"
          item-text="name"
          item-value="id"
          label="Zona"
          persistent-hint
          return-object
          single-line
		  @change="filterColonies(zona)"
        ></v-select>
<template>
  <v-card
    class="mx-auto"
    max-width="344"
  >
    <v-card-text>
       <v-chip-group
          column
          active-class="primary--text"
        >
          <v-chip v-for="colony in coloniesFiltered" :key="colony.id">
            {{ colony.name }}
          </v-chip>
        </v-chip-group>   </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="deep-purple accent-4"
      >
        Learn More
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
	  </v-col>
    <v-col cols="12" sm="4">
      <v-date-picker full-width
:disabled="coloniesFiltered.length == 0 "
	 ref="picker"
        v-model="dates"
        multiple
		:picker-date.sync="pickerDate"
      ></v-date-picker>
    </v-col>
    <v-col cols="12" sm="4">

		<v-btn rounded color="primary" :disabled="coloniesFiltered.length == 0 " dark @click="setEventsFromZone">Asignar tandeos</v-btn>
 <v-combobox
            v-model="dates"
            multiple
            chips
            small-chips
            label="Multiple picker in menu"
            prepend-icon="event"
            readonly
          ></v-combobox>

	  <div class="text-center">
  </div>
  <div class="title">Month news ({{ pickerDate || 'change month...' }})</div>
    </v-col>
  </v-row>
</template>


<script>
import axios from 'axios';
import Swal from 'sweetalert2';
export default {
	props: {
		sectores: Array,
		colonies: Array,
		user: Object,
	},
	data: () => ({
		pickerDate: null,

		dates: [],
		menu: false,
		select: { state: 'Florida', abbr: 'FL' },
		items: [
			{ state: 'Florida', abbr: 'FL' },
			{ state: 'Georgia', abbr: 'GA' },
			{ state: 'Nebraska', abbr: 'NE' },
			{ state: 'California', abbr: 'CA' },
			{ state: 'New York', abbr: 'NY' },
	],
//		sectores: [],
		sector: '',
		flag: false,
		zonas: [],
		zona: '',
		coloniesFiltered: [],
		zonesFiltered: [],


	}),
	computed: {
	},
	watch: {
		pickerDate (val) {
			console.log(val)
			/*this.notes = [
				this.allNotes[Math.floor(Math.random() * 5)],
				this.allNotes[Math.floor(Math.random() * 5)],
				this.allNotes[Math.floor(Math.random() * 5)],
			].filter((value, index, self) => self.indexOf(value) === index)*/
		},
	},
	methods: {
		filterZones(sector) {
			console.log(sector);
			var res = this.zonas.filter((zone) => zone.sector_id == sector.id);
			this.zonesFiltered = res;
		},
		filterColonies(zone) {
			console.log(zone);
			var res = this.colonies.filter((colony) => colony.zone_id == zone.id);
			this.coloniesFiltered = res;
		},
		getEvents() {
			console.log(this.pickerDate)
			const url = 'api/eventos/sector';
			axios.post(url, {sector_id: this.sector.id, date: this.pickerDate, api_token: this.user.api_token})
				.then((response) => {
					console.log(response.data);
					this.dates = response.data.map((event) => event.start.substring(0, 10));
				});
		},
		getSectors() {
			const url = 'api/sectores';

			axios.get(url)
				.then((response) => {
					console.log
					this.sectores = response.data;
				});
		},
		getZones(sector) {
			this.coloniesFiltered = [];
			const url = 'zonas/sector';
			axios.post(url, {sector_id: sector.id})
				.then((response) => {
					if(Boolean(sector.is_macrosector)){
						this.zona = response.data[0];
						this.coloniesFiltered = this.colonies.filter((colony) => colony.zone_id == response.data[0].id);

					}
					this.zonas = response.data;
					this.filterZones(sector);
				});
		},
		setEventsFromZone() {
			const url = 'api/eventos/crear';
			axios.post(url, {zone_id: this.zona.id, dates: this.dates })
				.then((response) => {
					if(response.data.status != 'error'){
						this.zona = '';
						this.dates = [];
					}

					Swal.fire(
						response.data.message,
						'',
						response.data.status
					);

					console.log(response.data);
				});
		}

	},
	mounted() {
		//		this.getSectors();
	},
}
</script>
